<h1> Listing Users</h1>
<ul>
  <%= for user <- @users do %>
    <li>
      <%= render "user.html", user: user %> | <%= link "view", to: user_path(@conn, :show, user.id) %>
    </li>
  <% end %>
</ul>
